# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de Log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de dependências (boa prática, caso decida instalar dependências no futuro)
node_modules/